# Node.js
node_modules/

# Logs
*.log

# macOS
.DS_Store

# npm package manager
npm-debug.log*
package-lock.json

# yarn package manager
yarn-debug.log*
yarn-error.log*
.pnp.js
.pnp.cjs

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Gemini CLI specific
.gemini/
